body {
    font-family: 'Dosis', sans-serif;
    background-color: #1FD655;
    text-align: center;

}


header {
    display: grid;
}

.intro {
    background-color: #CEFAD0;
    display: inline-block;
    margin: auto;
    padding: 5px 10px 5px 9px ;
}

.dpr {
    background-color: #83F28F;
    display: inline-block;
    margin: auto;
    padding: 5px 0 5px 0 ;
    
}

.first {
    display: flex;
}

.second {
    display: flex;
}

.c1 {
    background-color: #ABF7B1;
}

.c2 {
    background-color: #5CED73;
}

.c3 {
    background-color: #00C04B;
}

.c4 {
    background-color: #00AB41;
}

.c5 {
    background-color: #ABF7B1;
}


img {
    width: 300px;
}